@media screen and (max-width: 956px) and (min-width: 501px) {
    html {
        background-image: url(../assets/img/responsive_bckgrnd.jpg);
    }

    header {
        position: absolute;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    h1 {
        font-size: 40px;
    }

    strong {
        font-size: 40px;
        line-height: calc(20px + 10vh);
    }

    #hangerMan {
        margin-top: 30%;
        height: 500px;
        width: 500px;
    }

    #word {
        top: 10px;
        left: 150px;
    }

    #letterUsedP {
        top: 60px;
        left: 30px;
    }

    #letterUsed {
        top: 60px;
        left: 200px;
    }

    #turnP {
        top: 110px;
        left: 30px;
    }

    #turn {
        top: 110px;
        left: 250px;
    }

    #winP {
        font-size: 50px;
        top: 100px;
        left: 30px;
        display: none;
    }

    #loseP {
        font-size: 50px;
        top: 100px;
        left: 30px;
        display: none;
    }


    .line p {
        font-size: 20px;
    }


    .line input {
        left: 20px;
        bottom: 10px;
        padding: 5px;
        width: 50%;
        font-size: 20px;
    }

    .line button:hover {
        font-size: 22px;
    }


    .line button {
        right: 5px;
        bottom: 10px;
        font-size: 20px;
    }

    .score-board {
        margin: 50px;
        font-size: 20px;

    }

    h2 {
        margin: 0;
        font-size: 25px;
    }

    .reset button {
        font-size: 13px;
        margin-left: 5px;
        margin-right: 0;
        font-weight: bold;
    }

    .reset button:hover {
        font-size: 14px;
    }
    .score {
        margin-top: 20%;
    }
    
}

@media screen and (max-width: 614px) and (min-width: 501px) {

    .score {
        margin-top: 20%;
    }
    
    h2 {
        margin-left: 0;
        font-size: 25px;
    }
    
    .score-board {  
        background-size:contain;
        margin: 50px 10px 50px 50px;
        padding: 10px;
        font-size: 20px;

    }

    .reset button{
        margin-bottom: 10%;
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }

}
