@font-face {
    font-family: creepy;
    src: url(../assets/fonts/Creepster-Regular.ttf);
}

@font-face {
    font-family: rusty;
    src: url(../assets/fonts/Rusty.otf);
}

@font-face {
    font-family: rustyb;
    src: url(../assets/fonts/RUSTYb.ttf);
}

@font-face {
    font-family: rustyc;
    src: url(../assets/fonts/Rusty\ Witches.otf);
}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body {
    margin: 0;
    background-image: url(../assets/img/backimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    margin: 10px;
    text-align: center;
}


h1 {
    margin: 10px;
    font-family: creepy, Arial, Helvetica, sans-serif;
    font-size: 60px;
    background: -webkit-linear-gradient(90deg, rgb(130, 0, 0), rgb(255, 55, 55));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(202, 0, 0), 0 0 1em rgba(0, 0, 0, 0.858), 0 0 0.2em rgba(0, 0, 0, 0.763);
}

strong {
    background-image: url(./img/sign.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 50%;
    font-size: 50px;
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hangerMan {
    position: relative;
    height: 625px;
    width: 625px;
}

.line {
    display: flex;
}

#hangerImg {
    border: 10px ridge rgba(92, 49, 0, 0.333);
    height: 100%;
    width: auto;
}

#wordP {
    top: 10px;
    left: 30px;
}

#word {
    top: 10px;
    left: 220px;
}

#letterUsedP {
    top: 60px;
    left: 30px;
}

#letterUsed {
    top: 60px;
    left: 250px;
}

#turnP {
    top: 110px;
    left: 30px;
}

#turn {
    top: 110px;
    left: 350px;
}

#winP {
    font-size: 70px;
    top: 200px;
    left: 40px;
    display: none;
}

#loseP {
    font-size: 70px;
    top: 200px;
    left: 40px;
    display: none;
}


.line p {
    position: absolute;
    font-size: 30px;
    z-index: 1;
    font-family: creepy, Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(90deg, rgb(130, 0, 0), rgb(255, 55, 55));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(202, 0, 0), 0 0 1em rgba(0, 0, 0, 0.858), 0 0 0.2em rgba(0, 0, 0, 0.763);
}



.line input {
    position: absolute;
    border: 5px solid #00000052;
    box-shadow: 0 0 10px #00000061;
    left: 60px;
    bottom: 10px;
    padding: 5px;
    font-size: 30px;
    z-index: 1;
    font-family: creepy, Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(90deg, rgb(130, 0, 0), rgb(255, 55, 55));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgb(202, 0, 0), 0 0 1em rgba(0, 0, 0, 0.858), 0 0 0.2em rgba(0, 0, 0, 0.763);
    text-align: center;
}

.line input:focus {
    outline: none !important;
    border: 5px solid #44000052;
    box-shadow: 0 0 10px #73000099
}

.line button:active {
    outline: none !important;
    border: 5px solid #44000052;
    box-shadow: 0 0 10px #73000099
}

.line button:hover {
    font-size: 32px;
}


.line button {
    position: absolute;
    right: 100px;
    bottom: 10px;
    border: 5px solid #00000052;
    box-shadow: 0 0 10px #00000061;
    font-size: 30px;
    z-index: 1;
    font-family: creepy, Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(90deg, rgb(130, 0, 0), rgb(255, 55, 55));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgb(202, 0, 0), 0 0 1em rgba(0, 0, 0, 0.858), 0 0 0.2em rgba(0, 0, 0, 0.763);
    text-align: center;
}

.score-board {
    
    background-image: url(../assets/img/dashboard.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin: 50px 10px 50px 50px;
    padding: 10px;
    font-family: rustyc, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgba(67, 26, 0, 0.767);
    text-align: center;
    flex: 1;
}


.score {
    margin-top: 30%;
}

h2 {
    margin-left: 0;
}

.reset button{
    margin-bottom: 10%;
    border: 5px solid #00000052;
    box-shadow: 0 0 10px #00000061;
    font-family: rustyc, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgba(67, 26, 0, 0.767);
    text-align: center;
    background-color: transparent;
    margin-left: 30px;
    margin-right: 30px;
}

.reset button:active {
    outline: none !important;
    border: 5px solid #441a0052;
    box-shadow: 0 0 10px #933b0199
}

.reset button:hover {
    font-size: 20px;
}




@media screen and (max-width: 1214px) and (min-width: 956px) {

    .score {
        margin-top: 20%;
    }
    
    h2 {
        margin-left: 0;
        font-size: 20px;
    }
    
    .score-board {  
        background-image: url(../assets/img/dashboard.png);
        background-size:contain;
        background-repeat: no-repeat;
        margin: 50px 10px 50px 50px;
        padding: 10px;
        font-size: 20px;

    }

    .reset button{
        margin-bottom: 10%;
        border: 5px solid #00000052;
        box-shadow: 0 0 10px #00000061;
        font-family: rustyc, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        color: rgba(67, 26, 0, 0.767);
        text-align: center;
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;
    }

}
